<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <span class="app-brand">حَلَقات</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openGlobalExtractModal()" fill="clear">
        <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [value]="segmentValue" (ionChange)="segmentChanged($event)" mode="md">
      <ion-segment-button value="mine">
        <ion-label>الخاصة</ion-label>
      </ion-segment-button>
      <ion-segment-button value="shared">
        <ion-label>المشاركة</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fixed-slot-placement="before">
  @if (segmentValue === 'mine') {
    <app-my-circles></app-my-circles>
  } @else if (segmentValue === 'shared') {
    <app-shared-circles></app-shared-circles>
  }
</ion-content>